# {{ SEQNAME }}
# {{ POINTCOUNT }} points
# {{ FACETCOUNT }} facets

points = {{ POINTS }}
classical_scores = {{ CLASSICAL_SCORES }}

try:
    poly = load("{{ POLYDUMP }}.sobj")
except IOError:
    poly = Polyhedron(points, base_ring = QQ)
    poly.dump("{{ POLYDUMP }}", -1)
